<h1>All our Cocktails</h1>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <%= render "cocktail", cocktail: cocktail %>
      </div>
    <% end%>
  </div>
</div>



