.row {
  display: flex;
}

.card {
  display: block;
  margin: 10px;
  padding-top: 20px;
  box-shadow: 4px 4px 27px -1px #999999;
  transition: all 0.3s ease;
  height: 200px;
  background-size: cover !important;
  background-position: center;
  color: black;
  text-align: center;
  position: relative;
  border: 2px solid lightgray;
  border-radius: 2px;
}

.card:hover {
  margin-top: -5px;
}

.card-description {
  position: relative;

  text-align: center;
}
.card h2 {
  font-size: 24px;

}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #999999;
}


