<div class="navbar-wagon">
  <!-- Logo -->
<!--   <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a> -->

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div class="navbar-wagon-item navbar-wagon-link">
      <%= link_to 'Add a Cocktail', new_cocktail_path %>
    </div>
  </div>
</div>
